.user-body{
    background-color: #eeeeee;
    position: relative;
    width: 100%;
    display: flex;
    .content-left{
        width: 200px;
        .all-title{
            margin-left: 20px;
            a {
                text-decoration: inherit;
                color: inherit;
            }
            a.active{
                color: rgb(7, 231, 52);
            }
            .select-title{
                margin: 10px 0;
                cursor: pointer;
                &:hover{
                    color: #45c3d2;
                }
                
            }
            
        }
    }
    .content-center{
        width: calc(100% - 400px);
        height: auto;
        .title-content{
            margin-left: 20px;
            margin-bottom: 20px;
            .title-1{
                font-size: 20px;
            }
            .title-2{
                font-size: 13px;
            }
        }
        .main-content{
            margin: 0 10rem;
            height: 100%;
            .icon-active-email{
                height: 16px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                border-radius: 50%;
                color: white;
                font-size: 16px;
            }
        }
        .address-user{
            margin: 0 10px;
            .add-new-address{
                display: flex;
                justify-content: flex-end;
                .receiver{
                    padding: 5px 10px;
                    margin: 0 10px;
                    color: white;
                    background-color: #45c3d2;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
            .address{
                display: flex;
                flex-direction: column;
                .form-receiver{
                    background-color: #fff;
                    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
                    border-radius: 8px;
                    border-bottom: none;
                    margin: 15px 0;
                    padding-top: 15px;
                    width: 100%;
                    display: flex;
                    .left{
                        width: 70%;
                        .title-receiver{
                            min-width: 7rem;
                            margin: 10px 0;
                        }
                        .content-receiver{
                            margin: 10px 0;
                        }
                        .content-default{
                            color: #999;
                            margin: 10px 10px;
                        }
                    }
                    .right{
                        width: 30%;
                        margin-left: 10px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: column;
                        .text-change{
                            cursor: pointer;
                            border:1px solid #45c3d2;
                            padding: 5px 10px;
                            border-radius: 3px;
                            min-width: 6rem;
                            text-align: center;
                            &:hover{
                                background-color: #45c3d2;
                                color: white;
                            }
                        }
                        .text-default{
                            cursor: pointer;
                            border:1px solid #45c3d2;
                            padding: 5px 10px;
                            border-radius: 3px;
                            margin:5px 0;
                            opacity: 0.8;
                            &:hover{
                                opacity: 1;
                                border:1px solid rgb(7, 231, 52);
                                color: blueviolet;
                            }
                        }
                        .text-delete{
                            cursor: pointer;
                            border:1px solid firebrick;
                            color: firebrick;
                            padding: 5px 10px;
                            border-radius: 3px;
                            margin:5px 0;
                            opacity: 0.8;
                            &:hover{
                                opacity: 1;
                                background-color: red;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .change-password-user{
                .change-pw-content{
                    padding: 10px;
                    .change-pw-input{
                        .custom-input-password{
                            position: relative;
            
                            i{
                                position: absolute;
                                right: 5px;
                                top: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                    .text-change-pw{
                        text-align: center;
                        font-weight: 600;
                        font-size: 24px;
                        padding-top: 10px;   
                    }
                    .btn-change-pw{
                        width: 100%;
                        margin: 10px 0;
                        height: 35px;
                        border-radius: 15px;
                        outline: none;
                        border: none;
                        color: white;
                        font-size: 16px;
                        background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
                    }
                }
        }
        .voucher-user{
            .list-voucher-user{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        .order-user{
            .title-order-user{
                // width: 100%;
                // margin-bottom: 12px;
                // display: flex;
                // overflow: hidden;
                // position: -webkit-sticky;
                // position: sticky;
                // top: 0;
                // z-index: 10;
                // background: #fff;
                // border-top-left-radius: 2px;
                // border-top-right-radius: 2px;
                display: flex;
                background-color: #fff;
                border-radius: 2px;
                width: 100%;
                border: 1px solid #eee;
                .nav-item-order{
                    padding: 14px 0;
                    width: 165px;
                    text-align: center;
                    text-decoration: none;
                    span{
                        font-weight: 400;
                        font-size: 17px;
                    }
                    &:hover{
                        color: #45c3d2 !important;
                        cursor: pointer;
                       
                    }
                    &.active{
                        border-bottom: 2px solid #45c3d2;
                        color: #45c3d2 !important;
                    }
                }
            }
            // .box-search-order{
            //     width: 100%;
            //     border-radius: 2px;
            //     background-color: #eaeaea;
            //     margin-top: 20px;
            //     padding: 8px 0;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     gap:10px;
            //     input{
            //         outline: none;
            //         border: none;
            //         width: 100%;
            //         background-color: inherit;
            //         color: 12px;
            //     }
            //     svg{
            //         margin-left: 10px;
            //         font-size: 20px;
            //         color: #5555;
            //     }
            // }
            .box-list-order{
                width: 100%;
                background-color: #fff;
                margin-top: 20px;
                padding: 10px;
                .content-top-order{
                    display: flex;
                    justify-content: space-between;
                    
                    .content-right-order{
                        color: #0e60b2;
                    }
                    .content-left-order{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        font-size: 13px;
                       
                        .label-favorite{
                            background-color: #45c3d2;
                            color: #fff;
                            border-radius: 3px;
                            padding: 0 6px;
                        }
                        .label-name-shop{
                            font-weight: 600;
                            font-size: 14px;
                        }
                       .view-shop{
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           border: 1px solid #00000017;
                           padding: 2px 12px;
                           gap: 5px;
                            cursor: pointer;
                           svg{
                               color: #555555;
                           }
                         &:hover{
                             background-color: #00000005;
                         }
                       }
                    }
                }
                .content-center-order{
        
                    .box-item-order{
                        display: flex;
                       
                        border-top: 1px solid #eee;
                        padding: 15px 0;
                        margin-top: 10px;
                        gap: 5px;
                        
                        border-bottom: 1px solid #ccc;
                        img{
                            width: 80px;
                            height: 80px;
                            object-fit: cover;
                            border: 1px solid #eee;
                        }
                        .box-des{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            flex: 1;
                            margin-left: 10px;
        
                            .name{
                                font-weight: 600;
                            }
                            .type{
                                color: #0000008a;
                            }
                        }
                        .box-price-origin{
                            text-decoration: line-through;
                            color: #999;
                        }
                        .box-price-discount{
                            color: #45c3d2;
                        }
                    }
                }
                
               
            }
            .box-price-order{

                border-top: 1px dotted #00000017;
                padding: 20px;
                background-color: #fffefb;
                display: flex;
                width: 100%;
                
                .content-cmt{
                    align-items: center;
                }
                .price-status{
                    .up{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        font-size: 13px;
                        // justify-content: flex-end;
                        // align-items: center;
                        // gap: 10px;
                        
                        .name{
                            color: #45c3d2;
                            font-size: 26px;
                        }
                    }
                    .down{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 20px;
                        margin-top: 20px;
                        .btn-buy{
                            background-color: #45c3d2;
                            color: #fff;
                            padding: 8px 46px;
                            border-radius: 3px;
                            cursor: pointer;
                            &:hover{
                                opacity: 0.8;
                            }
                        }
                        .btn-cancel{
                            background-color: #ed2f3f !important;
                        }
                        .btn-view{
                            border: 1px solid #00000017;
                            padding: 8px 16px;
                            border-radius: 3px;
                            cursor: pointer;
               
                            &:hover{
                                background-color: #00000005;
                            }
                        }
                    }
                }
                
            }
        }
    }
    .content-right{
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .avatar-user{
            height: 200px;
            width: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 0 10px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid #45c3d2;
        }
    }
}