.change-pw-background{
    //background: rgb(34,193,195);
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
    .change-pw-container{
        width: 350px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 450px;
        .change-pw-content{
            padding: 10px;
            .change-pw-input{
                .custom-input-password{
                    position: relative;
    
                    i{
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }
            .text-change-pw{
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;   
            }
            .btn-change-pw{
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
            }
        }
    }
}
