.forgot-pw-background{
    //background: rgb(34,193,195);
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
    .text-check-email{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-style: italic;
        color: rgb(165, 31, 31);
    }
    .forgot-pw-container{
        width: 350px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 250px;
        .forgot-pw-content{
            padding: 10px;

            .text-forgot-pw{
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }
            .btn-forgot-pw{
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
            }
            .text-login{
                text-decoration: inherit;
                color: inherit;
                cursor: pointer;
            }
            .social-forgot-pw{
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
                .google{
                    font-size: 30px;
                    background: rgb(224, 50, 50);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                }
                .facebook{
                    font-size: 30px;
                    background: #307aaf;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
