.rs-password-background{
    //background: rgb(34,193,195);
    height: 100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
    .rs-password-container{
        width: 350px;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 450px;

        .rs-password-content{
            padding: 10px;

            .text-rs-password{
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }
            .rs-password-input{
                margin: 7px 0;

                .custom-input-password{
                    position: relative;

                    i{
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }
            .btn-rs-password{
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                color: white;
                font-size: 16px;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(181, 80, 206) 100%);
            }
            .forgot-password{
                font-size: 12px;
                text-decoration: inherit;
                color: inherit;
                cursor: pointer;
            }
            .text-sign-up{
                text-decoration: inherit;
                color: inherit;
                cursor: pointer;
            }
            .social-rs-password{
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
                .google{
                    font-size: 30px;
                    background: rgb(224, 50, 50);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;
                }
                .facebook{
                    font-size: 30px;
                    background: #307aaf;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
